:root {
  --favorite-color: #ffe5e5c2;
  --secondary-color: #d6eec87d;
  --tertiary-color: brown;
  --primary-font-family: "Baloo 2", cursive;
  --secondary-font-family: "Lexend Exa", sans-serif;
}
html {
  min-height: 100%;
  position: relative;
}

body {
  background: #ffeeee; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ddefbb,
    #ffeeee
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ddefbb,
    #ffeeee
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
p {
  font-family: var(--secondary-font-family);
}

h3 {
  opacity: 0.8;
  padding: 25px;
  font-size: 20px;
}

p {
  margin-top: 55px;
  font-weight: bold;
}

nav li {
  display: inline;
  text-align: right;
  font-family: var(--secondary-font-family);
}

.portfolio h1 {
  font-size: 30px;
}

.portfolio h2 {
  margin-top: 45px;
  font-size: 48px;
}

.btn-favorite {
  display: block;
  max-width: 100%;
  text-align: center;
  font-size: 30px;
  background: var(--secondary-color);
  font-family: var(--secondary-font-family);
  border-radius: 30px;
}

.btn-favorite-outline {
  display: block;
  text-align: center;
  background: var(--favorite-color);
  font-family: var(--secondary-font-family);
  border-radius: 30px;
}

.btn-branding {
  background: var(--favorite-color);
  border-radius: 30px;
  font-size: 25px;
  line-height: 30px;
  padding: 15px 30px;
  font-family: var(--secondary-font-family);
  display: block;
  text-align: center;
}

.about-page-info h1 {
  font-size: 50px;
}

.about-page-info h2 {
  line-height: 1.5;
  font-size: 38px;
}

.about-page-info p {
  line-height: 1.5;
  font-size: 30px;
}

.contact-page-info p {
  font-size: 18px;
  margin: 0;
}
.contact-page-info {
  max-width: 100%;
  white-space: nowrap;
  text-align: center;
}

.project-links {
  font-family: var(--primary-font-family);
}
